body {
  margin: 0;
  padding: 0;
}
.img-cabecero {
  position: absolute;
  width: 100vw;
  height: 20%;
  object-fit: cover;
  object-position: bottom;
}
.logo {
  position: relative;
  width: 30%;
}
#cabecero-logo {
  padding: 30px;
  text-align: center;
}
#menu {
  text-align: center;
  background-color: #bd1717;
}
nav a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}
nav li {
  display: inline-block;
  width: 15%;
  padding: 5px 10px;
  background-color: #000;
  border: 1px solid #000;
  text-align: center;
  color: #fff;
}
nav li:hover {
  background-color: #fff;
  color: #000;
}
#carouselExample{
    top:-15px;
    height: 300px;
    display: flex;
    background-color: gray;
    align-items: center;
    justify-content: center;
}
.carousel-inner{
    height: 100%;
}

#banner1{
  height: 50vh;
  width: 100vw;
}

#banner2{
  height: 80vh;
  width: 100vw;
}

#banner3{
  height: 80vh;
  width: 100vw;
}

img{
    height: 100%;
    width: 50vw;
    position: absolute;
}

#menu #buscador {
  position: absolute;
  top: 10px;
  right: 20px;
}

#menu #buscador legend {
  display: none;
}

#menu #buscador fieldset {
  border: none;
}

#buscar{
  border:1px solid #005BBB;
}

.boton-personalizado{
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  padding-top: 0px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #005BBB;
  border-radius: 4px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.intermedio{ 
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #bd1717;
  margin-top: -14px;
}

p{
  font-size: 20px;
  color: #fff;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
}

.card-container{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 200px);
  background-color: rgb(255, 255, 255);
  margin-bottom: 100px;
  column-gap: 10px;
  row-gap: 20px;
}

.card{
  background: linear-gradient(68deg, #ffffff, #f8f8f8); /* sea difuminado*/
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  max-width: 400px;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 5px 15px;
  border: 1px solid rgb(245, 2, 2);
  overflow: auto;
}

.imagen-categoria1{
  grid-column-start: 1;
  grid-column-end: 3;
}

.imagen-categoria2{
  grid-column-start: 3;
  grid-column-end: 5;
}

.imagen-categoria3{
  grid-column-start: 5;
  grid-column-end: 7;
}